<footer class="footer">
    <div class="footer-inner">
    <div class="logo">
    <img src="../../../assets/images/logo-inicial.png" alt="Logo footer" width="100" height="100">
  </div>
    <div class="Contacto">
        <p> nailstudionat&commat;gmail.com</p>
        <p>Telefono</p>
        <p>(123) 123-123</p>
    </div>
        <div class="redes">
            <a href="#"><img src="../../../assets/images/logo-facebook.png" alt="Logo FB" height="30" width="30"></a>
            <a href="#"><img src="../../../assets/images/logo-instagram.png" alt="Logo IG" height="30" width="30"></a>
            <a href="#"><img src="../../../assets/images/logo-whatsapp.png" alt="Logo WA" height="32" width="32"></a>
            <a href="#"><img src="../../../assets/images/logo-youtube.png" alt="Logo YT" height="35" width="35"></a>
            <a routerLink="/auth/login"><img src="../../../assets/images/dashboard.png" alt="Login" height="28" width="28"></a>

        </div>
  </div>
</footer>