.banner-servicios-principal {
    margin: 0;
    width: 100%;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: #ffdcdc;
}

.bg-nailtools {
    background-image: url(../../../assets/images/Home/nailarttoolsbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}
.title-banner {
    color: #eceff1;
    font-weight: bold;
    font-size: 1.4rem;
}
.slogan-banner {
    color: #eceff1;
}
.btn-agenda {
    margin-top: 10px;
    font-weight: 700;
    color: #894DAD;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}
