<div class="requerimientos-principal">
    <div class="requerimientos-outter">
      <div class="requerimientos-inner">
        <h1 class="requerimientos-title">¿Quieres aprender Nail Art?</h1>
        <p class="requerimientos-description">Descubre <b>talleres grabados, talleres en vivo y mentorías presenciales</b> para impulsar tu crecimiento profesional.</p>
      </div>
    </div>
  </div>
  <div class="banner-taller-principal">
    <div class="banner-taller-outter">
      <div class="banner-taller-inner">
        <div class="banner-taller-titulo">
          Taller Presencial Nail Art
        </div>
        <p>El 12 de diciembre llega la edición navideña de nuestro Taller Presencial de Nail Art.</p>
        <br><strong>¡Aprende técnicas de salón que vas a poder usar todo el año!</strong>
        <div class="banner-taller-btn">
          <a routerLink="/talleres" style="color: #fff;">Más info</a>
        </div>
      </div>
      <div class="banner-taller-img-outter">
        <div class="banner-taller-img-inner">
          <img src="../../../assets/images/Home/taller-presencial.jpg" alt="banner-taller-img">
        </div>
      </div>
    </div>
  </div>
  