<div class="card-taller">
    <div class="img">
        <img class="card-img" src="assets/images/taller1.jpg" alt="">
    </div>
    <div class="card-info">
        <h2 class="card-title">Formacion teorica para manicuristas</h2>
        <p class="card-info">Los colores primarios, como el rojo, el azul y
          el amarillo, actúan como la piedra angular
          de la creación artística, permitiéndote combinarlos
          para formar una paleta de colores infinita.</p>
        <div class="price-info">
          <p class="price-off">9.99 $</p>
          <p class="price">13.99 $</p>
        </div>
    </div>
</div>
<!-- todo: terminar el card del taller -->
