<div class="contenedor-agenda-outter">
<div class="menseje-agenda-outter">
  <div >
  <p class="mensaje-agenda">Has seleccionado el servicio: &nbsp;<b> {{ serviceName }}</b>, por favor escribe esto en la seccion de "servicio requerido" al agendar</p>
  </div>
</div> 
<!-- Google Calendar Appointment Scheduling begin -->
<div class="agenda-google">
<iframe class="agenda" src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ2YStt2NI0Lsh64qpyiqG-UG-obe-PB9TDOpJRT-ZNlzZGMvM326puZJ-QYxv7rkpkELzysBJpm?gv=true" style="border: 0" width="100%" min-height="100%" frameborder="0">
</iframe>
</div>
<!-- end Google Calendar Appointment Scheduling -->
</div>